#gridContainer {
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
    border: 1px dotted red;
    padding: 10px;
}

.innerContainer {
    display: flex;
    flex: auto;
}

.row {
    display: flex;
    flex: auto;
}

.cell {
    border: 1px solid grey;
    display: flex;
    flex: auto;
    background-color: white;
}

.on {
    background-color: blue;
}

.off {
    background-color: white;
}