* {
    margin: 0;
    padding: 0;
}
#page {
    display: flex;
    /* padding-top: 50px; */
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    /* background-color: midnightblue; */
}

#gridContainer {
    display: flex;
    width: 550px;
    height: 550px;
    flex-direction: column;
    border: thin solid darkgrey;
    background-color: whitesmoke;
}

.title {
    display: flex;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: x-large;
}
.innerContainer {
    display: flex;
    flex: auto;
}

.slideContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;

}

.slider {
    width: 550px;
}

.value {
    padding-top: 5px;
    padding-bottom: 5px;
}

.row {
    display: flex;
    flex: auto;
}

#buttonContainer {
    display: flex;
    gap: 8px;
    
}

.cell {
    border: thin solid grey;
    display: flex;
    flex: auto;
    background-color: transparent;
    -webkit-user-drag: none;
}

.on {
    /* background-color: lightgrey; */
    background-color: #555555;
    color: white; 
}

.off {
    background-color: white;
}

.fade {
    background-color: transparent;
    transition: background-color .25s linear; 
}

button {
    padding:2px 5px;
    border-radius: 8px;
}
  
button:hover {
    background-color: #555555;
    color: white; 
}

.color-box {
    display: flex;
    align-items: center;
    gap: 5px;
}